.visualizationBox {
    margin: 10px;
    width: 1516px;
    height: 768px;
    background-color: beige;
    border-style: ridge;
}

.environmentBox {
    margin: 3px;
    width: 1000px;
    height: 90%;
    background-color: rgb(240, 240, 190);
    border-width: 1px;
    border-style: solid;
    float: left;
}



.globalEnvironmentBox {
    margin-top: 10px;

    height: 120px;

    /* border-width: 2px;
    border-color: rgb(0, 0, 0);
    border-style: solid; */
}



.globalEnvironmentBox::after {
    display: block;
    content: "";
    clear: both;
}

.globalEnvironmentName {

    /* border-width: 2px;
    border-color: rgb(0, 0, 0);
    border-style: solid; */

    margin-right: 5px;
    line-height: 120px;
    height: 124px;
    float: left;
}

.globalEnvironmentFrame {
    /* margin-top: 10px; */
    margin-left: 50px;
    width: 90%;
    height: 120px;
    background-color: rgb(190, 236, 240);
    border-width: 2px;
    border-color: rgb(0, 0, 0);
    border-style: solid;
    float: left;
}




.globalVariableFrame {
    margin-top: 10px;
    margin-left: 30px;
    width: 20%;
    float: left;
}

.globalVariable {
    margin-top: 10px;

}

.localEnvironmentBox {
    margin-top: 10px;
    height: 120px;
}

.localEnvironmentBox::after {
    display: block;
    content: "";
    clear: both;
}

.localEnvironmentName {
    margin-top: 10px;
    margin-right: 5px;
    line-height: 80px;
    height: 84px;
    float: left;
}

.localEnvironmentFrame {
    /* margin-top: 10px; */
    margin-top: 10px;
    margin-left: 50px;
    width: 20%;
    height: 80px;
    background-color: rgb(190, 236, 240);
    border-width: 2px;
    border-color: rgb(0, 0, 0);
    border-style: solid;
    float: left;
    /* margin: 10px;
    width: 20%;
    width: fit-content;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    max-width: 40%;
    background-color: rgb(190, 236, 240);
    border-width: 2px;
    border-color: rgb(0, 0, 0);
    border-style: solid;
    overflow: hidden; */
}

.localArgument {
    margin: 10px;
    /*min-width: 100px;
    width: auto;*/
    font-size: large;
}

.stackBox {
    margin: 3px;
    width: 500px;
    height: 90%;
    background-color: rgb(240, 240, 190);
    border-width: 1px;
    border-style: solid;
    float: left;

}

.callFrame {
    margin-left: 140px;
    width: 70%;

    background-color: rgb(190, 236, 240);
    /* border-style: solid; */

}

.stackFrame {
    /* margin: 10px;
    width: 90%;
    height: 80px; */

    background-color: rgb(171, 234, 239);
    border-style: none;

}

.stackFrame::after {
    display: block;
    content: "";
    clear: both;
}

.stackFrameConter {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    height: 30px;

    background-color: rgb(174, 239, 171);
    border-width: 2px;
    border-right-width: 0px;
    border-style: solid;

    float: left;
}

.stackFrameContent {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 83%;
    height: 30px;

    background-color: rgb(174, 239, 171);
    border-width: 2px;
    border-style: solid;

    float: left;
}








.controlBox {
    margin: 10px;
    width: 800px;
    border-style: dotted;
}

.inputBox {
    margin: 10px;
    /* width: 200px; */
    border-style: none;
}