html {
    overscroll-behavior: contain;
}

/* 
    在这个文件里定义了环境模型和栈的样式
*/

::-webkit-scrollbar {
    display: none;
}

/* 最外层边框 */
.visualizationBox {
    margin: 10px;
    width: 1500px;
    height: 768px;
    min-height: 768px;
    background-color: beige;
    border-style: ridge;
}

/* 环境模型 */
.environment {
    /* min-width: 700px; */
    /* width: 700px;*/
    width: 400px;
    /* min-width: 1290px; */
    margin: 3px;

    display: inline-block;
    padding: 10px;
    /* min-height: 500px;  */
    background-color: rgb(240, 240, 190);
    border-width: 1px;
    border-style: solid;
    text-align: center;
    float: left;

}

.globalEnvironmentFrame {
    text-align: left;
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
    /* margin-bottom: 100px; */
    margin-bottom: 10px;
    height: 60px;
    background-color: rgb(190, 236, 240);
    border-width: 2px;
    border-color: rgb(0, 0, 0);
    border-style: solid;

}

.globalVariableFrame {
    margin-top: 10px;
    margin-left: 30px;
    width: 20%;
    float: left;
}

.globalVariable {
    margin-top: 10px;

}

.localEnvironmentColumn {
    width: 180px;
    margin-left: 20pxS;
    float: left;

}





.localEnvironmentName {
    /* position: absolute; */
    top: 50%;
    margin-top: -10px;
    /* margin-top: 10px;
    margin-right: 5px;
    line-height: 80px;
    height: 84px; */
    float: left;
}

/* .localEnvironmentOuterFrame {} */


.localEnvironmentFrame {
    /* margin-top: 10px; */
    margin-top: 10px;
    margin-left: 50px;
    width: 100px;
    height: 50px;



    background-color: rgb(190, 236, 240);
    border-width: 2px;
    border-color: rgb(0, 0, 0);
    border-style: solid;
    overflow: scroll;
    /* float: left; */
    /* margin: 10px;
    width: 20%;
    width: fit-content;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    max-width: 40%;
    background-color: rgb(190, 236, 240);
    border-width: 2px;
    border-color: rgb(0, 0, 0);
    border-style: solid;
     */
}

.localEnvironmentFrameBESELECTED {
    /* margin-top: 10px; */
    margin-top: 10px;
    margin-left: 50px;
    width: 100px;
    height: 80px;



    background-color: rgb(190, 236, 240);
    border-width: 4px;
    border-color: rgb(255, 0, 0);
    border-style: solid;
    overflow: scroll;
    /* float: left; */
    /* margin: 10px;
    width: 20%;
    width: fit-content;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    max-width: 40%;
    background-color: rgb(190, 236, 240);
    border-width: 2px;
    border-color: rgb(0, 0, 0);
    border-style: solid;
    overflow: hidden; */
}

.localEnvironmentFrameCURRENT {
    background-color: rgb(98, 140, 255);
}

.envVirable {
    background-color: rgba(190, 236, 240, 0);
}

.envVirableBESELECTED {
    background-color: rgb(93, 226, 238);
}


.localArgument {
    margin: 10px;
    /*min-width: 100px;
    width: auto;*/
    font-size: large;
}

.envClosureFrame {



    margin-top: 10px;
    margin-left: 50px;
    width: 100px;
    height: 80px;



    background-color: rgb(240, 144, 144);
    border-width: 2px;
    border-color: rgb(0, 0, 0);
    border-style: solid;
    overflow: scroll;

}

.envClosureBody {
    background-color: rgb(240, 144, 144);
}







.stack {
    margin: 3px;
    width: 300px;
    min-height: 90%;
    background-color: rgb(240, 240, 190);
    border-width: 1px;
    border-style: solid;
    float: left;

}

.stackFrame {
    margin-bottom: 5px;
    border-style: solid;
    border-width: 0px;
    border-color: rgb(255, 0, 0);
}

.stackFrameBESELECTED {
    border-style: solid;
    border-width: 4px;
    border-color: rgb(255, 0, 0);
}



.stackElementFrame {
    margin-left: 5px;
    margin-right: 5px;
    /* margin: 10px;
    width: 90%;
    height: 80px; */

    background-color: rgb(171, 234, 239);
    border-style: none;



}

.stackElementFrame::after {
    display: block;
    content: "";
    clear: both;
}

.stackElementFrameNumber {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    height: 30px;

    background-color: rgb(174, 239, 171);
    border-width: 2px;
    border-right-width: 0px;
    border-style: solid;
    border-bottom: none;

    float: left;
}

.stackElementFrameNumberBESELECTED {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    height: 30px;

    background-color: rgb(117, 216, 112);
    border-width: 2px;
    border-right-width: 0px;
    border-style: solid;
    border-bottom: none;

    float: left;
}

.StackElementFrameContent {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 82.5%;
    height: 30px;

    background-color: rgb(174, 239, 171);
    border-width: 2px;
    border-style: solid;
    border-bottom: none;

    overflow: hidden;
    float: left;
}

.StackElementFrameContentBESELECTED {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 82.5%;
    height: 30px;

    background-color: rgb(117, 216, 112);
    border-width: 2px;
    border-style: solid;
    border-bottom: none;

    overflow: hidden;
    float: left;
}


.interpreterRunningExp {
    border-width: 1px;
    border-style: dashed;
    position: absolute;
    top: 2px;
    left: 400px;

}

.inteExp {
    width: 400px;
    height: 62px;
    overflow: scroll;
}

.VMRunningExp {
    border-width: 1px;
    border-style: dashed;
    position: absolute;
    top: 90px;
    left: 400px;
}

.VMExp {
    width: 400px;
    height: 62px;
    overflow: scroll;
}



.closure {
    margin: 3px;
    width: 120px;
    min-height: 90%;
    background-color: rgb(240, 240, 190);
    border-width: 1px;
    border-style: solid;
    float: left;
}

.closureElement {
    width: 100px;
    border-width: 1px;
    border-style: solid;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.closureFrame {
    border: 3px solid rgb(83, 154, 247);

    margin: 5px;
}

.boxFrame {
    border: 3px solid rgb(50, 152, 67);

    margin: 5px;
}

.closureRightBox {
    margin-top: 10px;
    margin-left: 50px;
    width: 20%;
    height: 80px;

    /* margin-top: 10px;
    height: 120px; */


    /* margin-top: 10px;
    height: 120px;
    margin-top: 10px;
    margin-left: 20px; */

    /* line-height: 40px; */
    /* height: 84px; */
    /* float: left; */
}


.circle {
    width: 29px;
    height: 29px;
    background-color: rgb(255, 255, 255);
    border: 1px black solid;
    border-radius: 50%;
    float: left;
}

.point {

    /* 
    (29 + 2 - 1)/2 - (1 + 4)
    内部长度-point一半长度-边框宽
        50 - （1 + 10） */
    width: 1px;
    height: 1px;
    background-color: black;
    border: 4px black solid;
    border-radius: 50%;
    margin: 10px;

}

.clearfix::before,
.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.doubleDotBox {
    /* border: 3px #bfa solid; */
    margin-top: 10px;
    margin-bottom: 20px;
    float: left;
}

.code {
    height: 45px;
    overflow: scroll;
}

.VMcode {
    height: 45px;
    overflow: scroll;
}

.narrationBox {
    border-style: double;
    border-color: rgb(0, 0, 0);
    border-width: 3px;
    background-color: azure;
    width: 400px;
    height: 70px;
    position: fixed;
    bottom: 5px;
    right: 5px;
    overflow: scroll;

}