




.visualizationBox {
    margin:10px;
    width:90%;
    height: 768px;
    background-color:beige;
    border-style:dotted;
}

.environmentBox {
    margin:10px;
    width:55%;
    height: 90%;
    background-color:rgb(240, 240, 190);
    border-style:dotted;
    float: left;
}

.globalEnvironmentFrame {
    margin:10px;
    width:90%;
    height: 50px;
    background-color:rgb(190, 236, 240);
    border-style:dotted;
}

.localEnvironmentFrame {
    margin:10px;
    width: 10%;
    background-color:rgb(190, 236, 240);
    border-style:dotted;
    overflow: scroll;
}

.localEnvironmentFrameArgument {
    font-size: large;
}

.stackBox {
    margin:10px;
    width:40%;
    height:90%;
    background-color:rgb(240, 240, 190);
    border-style:dotted;
    float:right;

}

.callFrame {
    margin:10px;
    width:90%;

    background-color:rgb(190, 236, 240);
    border-style:dotted;
    overflow: scroll;
}

.stackFrame {
    margin:10px;
    width:90%;
    height: 80px;

    background-color:rgb(171, 234, 239);
    border-style:dotted;

}

.stackFrameConter {
    margin:10px;
    width:15%;
    height: 60px;

    background-color:rgb(174, 239, 171);
    border-style:dotted;
    overflow: scroll;
    float: left;
}

.stackFrameContent {
    margin:10px;
    width:65%;
    height: 60px;

    background-color:rgb(174, 239, 171);
    border-style:dotted;
    overflow: scroll;
    float: right;
}








.controlBox {
    margin:10px;
    width: 800px;
    border-style:dotted;
}

.inputBox {
    margin:10px;
    width:200px;
    border-style:dotted;
}