.controlBox {
    margin: 10px;
    width: 800px;
    border-style: dotted;
}

.inputBox {
    margin: 10px;
    /* width: 200px; */
    border-style: none;
}


.animeVal {
    background-color: rgb(255, 0, 0);
}